body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    color: #202020;
    background: rgb(29,33,38);
    width: 80%;
    margin: 0 auto;
  }

  /* header section */


  
   /* table section */
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background: #fefefe;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    color: #f6f6f6;
  }
  
  table thead{
    background:#1976d2;
    border-bottom: none;
    color: #fff;
  }
  
  table tr {
    padding: .35em;
  }
  
  table tr:nth-child(even) {
    background: #f0f0f0;
  }
  
  table tbody tr:hover {
    background: #d9e3e8;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead th {
      display: none;
    }
  
    table tr {
      display: block;
    }
  
    table td {
      /* border-bottom: 1px solid #ddd; */
      display: block;
      text-align: left;
    }
  
    table td::before {
      content: attr(data-label);
      display: block;
      font-weight: light;
      text-transform: uppercase;
      font-size: 0.7em;
      margin-bottom: 0.6em;
      color: #1976d2;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  